@media screen {
    /* Landscape */
    @media not screen and (max-aspect-ratio: 1.2) {
        #welcome {
            display: grid;
            grid-template-columns: 66% 33%;
        }

        #intro {
            grid-column: 1/2;
        }

        #getStarted {
            grid-column: 2/3;
        }

        #content {
            display: grid;
            grid-template-columns: 33% 33% 33%;
        }

        #projects {
            grid-column: 1/2;
        }

        #patreon {
            grid-column: 2/3;
        }

        #auctions {
            grid-column: 3/4;
        }
    }

    /* Portrait */
    @media screen and (max-aspect-ratio: 1.2) {
        #content {
            display: grid;
            grid-template-columns: 33% 33% 33%;
        }

        #projects {
            grid-column: 1/2;
        }

        #patreon {
            grid-column: 2/3;
        }

        #auctions {
            grid-column: 3/4;
        }
    }
}