<button id="navChatSwapper">
    <img src="https://dummyimage.com/300x300/000/fff" alt="Logo" />
</button>
<div id="navContainer">
    <img id="dropdownIcon" src="https://dummyimage.com/100x100/000/fff" alt="Dropdown" />
    <nav>
        <a href="">
            <span class="icon homeIcon"></span>
        </a>
        <a href="">
            <span class="icon projectIcon"></span>
        </a>
        <a id="patreonNav" href="">
            <span class="icon patreonIcon"></span>
        </a>
        <a href="">
            <span class="icon shopIcon"></span>
        </a>
        <a href="">
            <span class="icon FAQIcon"></span>
        </a>
    </nav>
</div>
<button id="profile">
    <img src="https://dummyimage.com/300x300/000/fff" alt="FAQ" />
    <!--
    <div>
        <h1>Username</h1>
        <span id="patreonTier"></span>
        <span id="interests"></span>
        <span id="expertise"></span>
        <span id="notifications"></span>
    </div>-->
</button>