@media screen {

    /* Global */
    body {
        font-size: 20px;
        padding: 0;
        margin: 0;
        font-family: fantasy;
        overflow: hidden;
        position: relative;
        height: 100vh;
        width: 100vw;
    }

    main {
        overflow-y: scroll;
        background-color: #332D3F;
        color: #c8afd7;
    }

    img {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
    }

    button,
    a {
        background-color: #b4ded5;
        padding: 10px;
        border-radius: 10px;
        color: #332D3F;
        text-decoration: none;
    }

    button:hover,
    a:hover {
        background-color: #38cfad;
        text-decoration: none;
    }

    .contentType>* {
        display: list-item;
        list-style: none;
    }

    /* Landscape */
    @media not screen and (max-aspect-ratio: 1) {
        main {
            grid-column: 2/3;
        }

        #welcome {
            display: grid;
            grid-template-columns: 66% 33%;
        }

        #intro {
            grid-column: 1/2;
        }

        #getStarted {
            grid-column: 2/3;
        }

        #content {
            display: grid;
            grid-template-columns: 33% 33% 33%;
        }

        #projects {
            grid-column: 1/2;
        }

        #patreon {
            grid-column: 2/3;
        }

        #auctions {
            grid-column: 3/4;
        }
    }

    /* Portrait */
    @media screen and (max-aspect-ratio: 1) {
        #content {
            display: grid;
            grid-template-columns: 33% 33% 33%;
        }

        #projects {
            grid-column: 1/2;
        }

        #patreon {
            grid-column: 2/3;
        }

        #auctions {
            grid-column: 3/4;
        }
    }
}