@media screen {
    /* Global */
    body {
        font-size: 20px;
        padding: 0;
        margin: 0;
        font-family: fantasy;
        overflow: hidden;
        position: relative;
        height: 100vh;
        width: 100vw;
    }

    main {
        overflow-y: scroll;
        background-color: #332D3F;
        color: #c8afd7;
    }

    img {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
    }

    button {
        background-color: transparent;
        padding: 0;
        height: auto;
        width: auto;
        border: none;
        display: inline;
    }
}