@media screen {
    
    #sidebar img {
        display: inline-block;
        max-height: 100%;
        max-width: 100%;
        height: auto;
        width: auto;
    }

    #sidebar button {
        background-color: transparent;
        padding: 0;
        height: auto;
        width: auto;
        border: none;
        display: inline;
    }

    #sidebar {
        --iconSize: 64px;
        --sidebarPadding: 10px;
        padding: var(--sidebarPadding);
        background-color: inherit;
        gap: 10px;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 100%;
    }

    #navContainer {
        background-color: inherit;
    }
    #sidebar>button,
    #sidebar a,
    #dropdownIcon {
        padding: 0;
        margin: 0;
        height: var(--iconSize);
        width: var(--iconSize);
    }

    #dropdownIcon {
        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #sidebar>button>img {
        height: 100%;
        width: 100%;
    }

    .dropdownExpanded {
        padding: var(--sidebarPadding);
        background-color: inherit;
        position: fixed;
        left: 0;
        top: 0;
    }

    .homeIcon{
        mask: url(/resources/Icons/home.svg);
    }

    .projectIcon{
        mask: url(/resources/Icons/video.svg);
    }

    .patreonIcon{
        mask: url(/resources/Icons/aristocrat.svg);
    }

    .shopIcon{
        mask: url(/resources/Icons/shop-dollar.svg);
    }

    .FAQIcon{
        mask: url(/resources/Icons/info.svg);
    }

    .icon {
        display: inline-block;
        background: #A366FF;
        mask-size: cover;
        width: 100%;
        height: 100%;
    }

    /* Landscape */
    @media not screen and (max-aspect-ratio: 1) {
        body {
            position: fixed;
            display: grid;
            grid-template-columns: auto minmax(0, 1fr);
            grid-template-rows: 100%;
        }

        #sidebar {
            height: calc(100vh - var(--sidebarPadding)*2);
            grid-template-columns: 100%;
            grid-template-rows: minmax(var(--iconSize), auto) minmax(var(--iconSize), 1fr) minmax(var(--iconSize), auto);
        }

        #navContainer {
            width: var(--iconSize);
        }

        #navContainer nav {
            height: 100%;
            display: grid;
            grid-gap: 10px;
            align-content: center;
            justify-content: center;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto auto auto;
        }

        .dropdownExpanded {
            align-content: space-around !important;
            width: var(--iconSize) !important;
            height: calc(100vh - var(--sidebarPadding)*2) !important;
        }
    }

    /* Portrait */
    @media screen and (max-aspect-ratio: 1) {
        body {
            position: fixed;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto minmax(0, 1fr);
        }

        #sidebar {
            width: calc(100% - var(--sidebarPadding)*2);
            grid-template-columns: var(--iconSize) minmax(0, 1fr) var(--iconSize);
        }

        #navContainer {
            height: var(--iconSize);
        }

        #navContainer nav {
            height: 100%;
            width: 100%;
            display: grid;
            grid-gap: 10px;
            align-content: center;
            justify-content: center;
            grid-template-columns: auto auto auto auto auto;
        }

        .dropdownExpanded {
            justify-content: space-around !important;
            width: calc(100vw - var(--sidebarPadding)*2) !important;
            height: var(--iconSize) !important;
        }
    }
}